@charset "UTF-8";

@font-face {
  font-family: 'Amperzand';
  src: url('fontes/Amperzand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Saint';
  src: url('fontes/212\ Saint\ Paddy\ Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rembullan';
  src: url('fontes/Rembullan-Mallam.otf') format('embedded opentype');
  font-weight: normal;
  font-style: normal;
}

body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #fff8f0;
      color: #333;
    }

    header > h1 {
      font-variant: normal;
      font-size: 5vw;
      font-weight: normal;
    }

    header > p {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 2.5vw;
    }

    header {
      background-color: #22e5f38c;
      color: rgb(19, 1, 1);
      padding: 1px;
      text-align: center;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.096);
    }

    nav {
      background-color: #f7d0eaa8;
      padding: 10px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.116);
      text-align: center;
    }

    nav > a {
      color: #000;
      padding: 10px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      transition-duration: 0.5s;
      font-family:sans-serif;
    }

    nav a:hover {
     background-color: rgb(240, 167, 216);
     color: aqua;
    }

    h2 {
      font-family: 'Amperzand', Times, serif;
      font-size: 3em;
    }

    .hero {
      background-image: url('banner.jpg'); /* Substitua por sua imagem */
      background-size: cover;
      background-position: center;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #22e5f38c;
      font-size: 2vw;
      font-weight: bold;
      text-shadow: 2px 2px 5px #000;
    }

    .section-title {
      text-align: center;
      margin: 5px 0 10px;
      font-size: 5vw;
      color: #181516;
    }

    
    article {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    html {
      font-size: 70%;
    }

    .btn {
      font-size: 2.5rem;
      padding: 2rem;
      color: #333;
      cursor: pointer;
    }

    .slider {
      height: 20rem;
      width: 55rem;
      overflow: hidden;
      position: relative;

    }

    .slides {
      position: absolute;
      top: 0;
      left: 0;
      right: 100px;
      transition: all 1s;
    }
    
    .slides img {
      width: 50rem;
      height: 40rem;
      margin: 0 2rem;
      object-fit: cover;
      border-radius: 2rem;
      
    }

    footer {
      background-color: #22e5f38c;
      color: rgb(22, 21, 21);
      text-align: center;
      padding: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
    }

   