@charset "UTF-8";

@font-face {
  font-family: 'Graziela';
  src: url('fontes/La\ Graziela\ Script\ Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rembullan';
  src: url('fontes/Rembullan-Mallam.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'milven';
  src: url('fontes/Hanged\ Letters.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0px;
      font-family: 'milven';
      background-color: #b4eef18c;
    }

    main {
      flex: 1;
    }

    header > h1 {
      font-variant: normal;
      font-size: 80px;
      font-weight: normal;
      margin: 10px;
    }

    header > p {
      font-family:'Times New Roman', Times, serif;
      font-size: 10px;
    }

    header {
      flex: 0 0 10%;
      background-color: #22e5f38c;
      color: rgba(22, 21, 21, 0.925);
      padding: 1px;
      text-align: center;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.096);
    }

    nav {
      background-color: #f7d0eaa8;
      padding: 10px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.116);
      text-align: center;
    }

    nav > a {
      color: #000;
      padding: 10px;
      border-radius: 10px;
      text-decoration: none;
      font-weight: bold;
      transition-duration: 0.5s;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    nav a:hover {
     background-color: rgb(240, 167, 216);
     color: aqua;
    }

    .hero {
      flex: 0 0 10%;
      background-image: url('banner.jpg'); /* Substitua por sua imagem */
      background-size:10px;
      background-repeat: no-repeat;
      background-position: center;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(240, 167, 216);
      font-size: 15%;
      font-weight: bold;
      text-shadow: 2px 2px 5px #000;
    }

    .hero img {
      width: 180px;
      height: auto;
    }

    /* --- Seção de Fotos (Slides) --- */
.photo-section {
    padding: 34px 40px;
    background-color:#f7d0eaa8;
    text-align: center;
    font-size: 20px;
}

.photo-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.photo-item {
    width: 155px;     /* Tamanho pequeno conforme solicitado */
    height: 140px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(51, 49, 49, 0.1);
    transition: transform 0.3s ease;
    font-size: 10px;
    padding: 10px;
}

.photo-section {
  padding: 10px 20px; /* reduz espaço interno */
  background-color: #f7d0eaa8;
  text-align: center;
  font-size: 18px;
}


.photo-item:hover {
    transform: scale(1.08);
}

    footer {
      background-color: #22e5f38c;
      color: rgb(22, 21, 21);
      text-align: center;
      padding: 4px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      box-shadow: #000;
    }

    /* Responsividade para celular */
@media  (max-width: 700px) {

  header > h1 {
    font-size: 50px; /* Reduz título no celular */
  }

  .hero {
    height: 250px; /* Dimensiona o banner */
    background-size: cover; /* Fica melhor em telas pequenas */
  }

  /* Deixa 3 fotos por linha */
  .photo-grid {
    justify-content: space-between;
  }

  .photo-item {
    width: calc(33.33% - 12px);
    height:auto;
    padding: 4px;
    font-size: 4px;
  }
}

