@charset "UTF-8";

@media screen and (max-width: 800px) {

  header > h1 {
    font-size: 50px; /* Reduz título no celular */
  }

  .hero {
    height: 250px; /* Dimensiona o banner */
    background-size: cover; /* Fica melhor em telas pequenas */
  }

  /* Deixa 3 fotos por linha */
  .photo-grid {
    justify-content: space-between;
  }

  .photo-item {
    width: calc(33.33% - 12px);
    height: auto;
    padding: 4px;
    font-size: 4px;
  }

}